$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;
$xl: 1905px;
$space: 7px;
$main-color: #09194f;
$sub-color: #00808a;
$common-back-color: #fcfcfc;
$common-border-color: #ccc;
$common-font-color: #1a1a1a;
$border-line: solid 2px $main-color;
$gray-font-color: $sub-color;
$bg-light-grey: rgb(235, 235, 235);
$table-border-color: lightgray;
$table-border: 1px solid $table-border-color;
$excel-cell-bg-color: lightblue;
$calendar-today-color: #dc2626;
$calendar-saturday-color: #dbeafe;
$calendar-sunday-color: #fee2e2;
